<h1>All Jobs for <strong><%= @company.name %></strong></h1>

<% @jobs.each do |job| %>
<div class=job_<%= job.id %>>
  <ul><%= job.title %> at <%= job.company.name %></ul>
  <%= link_to "Delete", company_job_path(@company, job), method: "delete" %>
</div>
<% end %>

<h3>Contact Information</h3>

<section class='contacts'>
  <% @company.contacts.each do |contact| %>
    <ul>
      Name: <%= contact.name %><br />
      Position: <%= contact.position %><br />
      Email: <%= contact.email %>
    </ul>
  <% end %>
</section>

<h4>Enter a New Contact for <%= @company.name %></h4>
<%= render partial: 'contacts/contact' %>
